<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/coursesmanager</property>
    <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="hibernate.connection.username">admin</property>
    <property name="hibernate.connection.password">admin</property>
    <mapping class="com.model.subjectDB"/>
    <mapping class="com.model.accountDB"/>
    <mapping resource="AccountEntity.hbm.xml"/>
    <mapping resource="SubjectDB.hbm.xml"/>
    <mapping class="com.model.clazzDB"/>
    <mapping class="com.model.semesterDB"/>
    <mapping resource="SemesterDB.hbm.xml"/>
    <mapping resource="ClazzDB.hbm.xml"/>
    <mapping resource="DkhpDB.hbm.xml"/>
    <mapping resource="HpDB.hbm.xml"/>
    <mapping resource="KydkhpDB.hbm.xml"/>
    <mapping resource="StudentDB.hbm.xml"/>
    <mapping resource="StudyatDB.hbm.xml"/>


    <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>